name: Build UF2
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PICO_SDK_FETCH_FROM_GIT: on    
    steps:
      - name: Cleanup
        uses: actions/checkout@v2
      - name: Install Toolchain
        run: sudo apt-get install -y ninja-build gcc-arm-none-eabi
      - name: Generate Buildfiles
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja
      - name: Execute Ninja build    
        run: |
          cd build
          ninja
      - name: Archive
        uses: actions/upload-artifact@v2
        with:
          name: firmware
          path: build/*.uf2
      - name: Picotool Checkout
        uses: actions/checkout@v2
        with:
          repository: https://github.com/raspberrypi/picotool.git
          path: picotool
      - name: Picotool Build
        run: |
          mkdir picotool/build
          cd picotool/build
          cmake .. -G Ninja
          ninja
